body {
    width: 90%;
    margin: auto;
    background-color: white;
    
    /* add */
    font-family: 'Basic';
}

html {
    height: 150%;
}

.grid-container {
    display: grid;
    height: 200%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 4rem 2rem auto 2rem auto;
    grid-template-areas:
        'logo logo logo header'
        'nav nav nav nav'
        'contactUs contactUs socialMedia socialMedia'
        'location location location location'
        'address address address address';
    gap: 5px;
}

div {
    text-align: center;
    vertical-align: middle;
}

.logo {
    grid-area: logo;
    grid-column: 1/4;
    background-color: white;
}

.header {
    grid-area: header;
    grid-column: 4/5;
    /* background-color: lightpink; */
    color: darkred;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 40px;
    /* font-family: "HelveticaNeue_Roma"; */

    /* add */
    font-family: 'Candal';
}

.nav {
    grid-area: nav;
    grid-column: 1/5;
    grid-row-start: 2;
    background-color: lightpink;
    color: brown;
    text-align: center;
    font-size: 20px;
    display: block;
    float: left;

    /* add */
    border-radius: 10px;
}

.navli a:hover {
    color: rgb(90, 0, 36);
}

.contactUs {
    grid-area: contactUs;
    height: 200px;
    grid-column: 1/3;
    grid-row-start: 3;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgb(100, 53, 2);
}

.socialMedia {
    grid-area: socialMedia;
    height: 200px;
    grid-column: 3/5;
    grid-row: 3;
    background-color: white;
}

.location {
    grid-area: location;
    grid-column: 1/5;
    height: 30px;
    grid-row: 4;
    background-color: lightpink;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: brown;

    /* add */
    border-radius: 10px;
}

.address {
    grid-area: address;
    grid-column: 1/5;
    grid-row: 5;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    background-color: white;
    /* Change this to your desired background color */
    margin: 0;
    padding: 0;
    color: rgb(100, 53, 2);
}

* {
    box-sizing: border-box;
}

.nav ul {
    margin: 0;
    margin-top: 4px;
    padding: 0;
}

.nav ul li {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
}

.nav ul::after {
    display: table;
    content: "";
    clear: both;
}

a {
    color: brown;
    text-decoration: none;
}

/* .navli :hover {
    color: blue;
} */

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.social-media a {
    display: inline-block;
    margin: 10px;
    width: 50px;
    height: 50px;
}

.social-media img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: transform 0.2s;
}

.social-media img:hover {
    transform: scale(1.2);
}


p {
    text-align: left;
    font-size: medium;
}

.logo {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.branch {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.branch img {
    width: 300px;
    height: 200px;
    border-radius: 4px;
}

.add {
    font-size: 16px;
    margin-top: 10px;
}

.question {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    color: rgb(100, 53, 2);
}

.form_message {
    padding-left: 100px;
}

.form_box{
    margin-right: 50px;
    margin-left: 50px;
    flex-grow: 2;
    text-align: left;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: brown;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin: auto;
}

input[type=submit]:hover {
    background-color: lightpink;
}

.form_box {
    border-radius: 5px;
    border: solid 5px lightpink;
    padding: 20px;
}